
{{>head}}

{{>navbar}}
<div class="row">

<div class="col-8">

    <h1>la gorda chota</h1>
    <p>
        en el 2017 conoci a la gorda chota por el 30 de noviembre era realmente fea y gorda pero igual me termine eneamorando de ella y se transformo en una chica hermosa
    </p>
</div>

<div class="col-4">
    <img src="assets/img/karen.jpg"class="img-thumbnail">

</div>



</div>
  
   


{{>footer}}